*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


body{

background:#f1f5f9;

}



/* SIDEBAR */


.sidebar{

position:fixed;

height:100vh;

width:260px;

background:

linear-gradient(
180deg,
#1e3a8a,
#2563eb
);

color:white;

padding:25px;


}



.logo{

text-align:center;

margin-bottom:40px;

}



.logo i{

font-size:45px;

color:#facc15;

}


.logo h3{

font-weight:700;

}



.sidebar a{


display:block;

color:white;

text-decoration:none;

padding:15px;

border-radius:12px;

margin:10px 0;


}



.sidebar a:hover,
.sidebar .active{


background:rgba(255,255,255,.2);


}







/* MAIN */


.main{

margin-left:260px;

padding:30px;

}



.topbar{

display:flex;

justify-content:space-between;

align-items:center;

}




.profile i{

font-size:40px;

color:#2563eb;

}





/* SEARCH */


.search-card{


background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);


}



.search-btn{


background:#2563eb;

color:white;

padding:12px 30px;

border-radius:30px;


}




/* STATS */


.stat-card{


background:white;

padding:25px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.08);


}



.stat-card i{


font-size:40px;

color:#2563eb;


}





/* SECTION */


.section-card{


background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);


}



.journey{


display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

background:#f8fafc;

border-radius:15px;


}




@media(max-width:768px){


.sidebar{

width:80px;

}


.sidebar h3,
.sidebar a:not(.active){

display:none;

}



.main{

margin-left:80px;

padding:15px;

}


}