*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:'Poppins',sans-serif;

}


body{

background:#f1f5f9;

}




.sidebar{

position:fixed;

height:100vh;

width:260px;

background:

linear-gradient(
180deg,
#0f172a,
#1e3a8a
);


padding:25px;

color:white;


}



.logo{

text-align:center;

margin-bottom:40px;

}



.logo i{

font-size:45px;

color:#facc15;

}



.logo h3{

font-weight:700;

}





.sidebar a{

display:block;

padding:15px;

margin:10px 0;

border-radius:12px;

color:white;

text-decoration:none;

}



.sidebar a:hover,
.sidebar .active{

background:rgba(255,255,255,.2);

}





.main{

margin-left:260px;

padding:30px;

}




.topbar{

display:flex;

justify-content:space-between;

align-items:center;

}




.topbar i{

font-size:35px;

color:#2563eb;

}




.search-box{


background:white;

padding:25px;

border-radius:20px;


box-shadow:

0 10px 25px rgba(0,0,0,.08);


}





.table-card{


background:white;

padding:25px;

border-radius:20px;


box-shadow:

0 10px 25px rgba(0,0,0,.08);


}




.table th{

color:#1e3a8a;

}




@media(max-width:768px){


.sidebar{

width:80px;

}



.sidebar h3,
.sidebar a:not(.active){

display:none;

}



.main{

margin-left:80px;

}


}