.seat-container{

display:grid;

grid-template-columns:repeat(5,60px);

gap:15px;

justify-content:center;

margin-top:20px;

}



.seat{


height:50px;

width:50px;

border:none;

border-radius:8px;

background:#28a745;

color:white;

font-weight:bold;


}



.seat:hover{

transform:scale(1.1);

}



.seat.booked{

background:#dc3545;

cursor:not-allowed;

}



.seat.selected{

background:#0d6efd;

}

