*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}



body{

background:#f1f5f9;

}




.navbar{


background:#1e3a8a;

padding:18px 40px;

color:white;

display:flex;

justify-content:space-between;

align-items:center;


}



.logo{

font-size:25px;

font-weight:700;

}



.logo i{

color:#facc15;

}




.navbar a{

color:white;

text-decoration:none;

}




.page{

padding-top:40px;

}



.title{

font-weight:700;

color:#1e3a8a;

}




.search-box{


background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);


}



.search-btn{


background:#2563eb;

color:white;

border-radius:30px;

padding:12px;


}




.train-card{


background:white;

margin-bottom:25px;

padding:30px;


border-radius:20px;


display:flex;


gap:25px;


align-items:center;


box-shadow:

0 10px 25px rgba(0,0,0,.08);


transition:.3s;


}



.train-card:hover{


transform:translateY(-8px);


}




.train-icon{


height:70px;

width:70px;

border-radius:50%;


background:#2563eb;


display:flex;

align-items:center;

justify-content:center;


color:white;

font-size:35px;


}




.train-details{

flex:1;

}



.time{


display:flex;

align-items:center;

gap:30px;

margin-top:20px;

}



.time i{

font-size:25px;

color:#2563eb;

}




.train-info{


text-align:center;

min-width:150px;


}




.book-btn{


background:#2563eb;

color:white;

border-radius:30px;


}



.book-btn:hover{

background:#1e3a8a;

color:white;

}





@media(max-width:768px){


.train-card{

flex-direction:column;

text-align:center;

}


.time{

justify-content:center;

}


}